<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HellWordExamVue from "./components/HellWordExam.vue";
import HandingUserInput from "./components/HandingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBinings from "./components/FormBinings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>

    <SimpleComponent></SimpleComponent>
    <br>
    <FormBinings></FormBinings>
    <br />
    <br>
    <ConditionsAndLoops></ConditionsAndLoops><br/>
    <AttributeBindings></AttributeBindings>
    <HandingUserInput></HandingUserInput>
    <HellWordExamVue></HellWordExamVue>
  </div>
</template>

<style scoped>
</style>
